.set-password-container {
    background-color: #00b941;
  }
  
  .set-password-card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }
  
  .set-password-title {
    font-weight: bold;
    color: #28a745;
  }
  
  .set-password-input {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #28a745;
  }
  
  .set-password-btn {
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 8px;
    font-weight: bold;
    padding: 10px;
    color: white;
  }
  
  .set-password-btn:hover {
    background-color: #218838;
    border-color: #218838;
  }